IBM_M2M_ApplianceMsgs/PublishKvp.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fmt="http://www.ibm.com/dfdl/GeneralPurposeFormat" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	
	

    <xsd:import namespace="http://www.ibm.com/dfdl/GeneralPurposeFormat" schemaLocation="IBMdefined/GeneralPurposeFormat.xsd"/>
        <xsd:complexType name="Payload">
    <xsd:sequence dfdl:initiatedContent="no" dfdl:separator="">
      <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" name="length" type="xsd:hexBinary"/>
      <xsd:element dfdl:length="1" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" name="sourceNode" type="xsd:hexBinary"/>
      <xsd:element dfdl:length="4" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" name="timestamp" type="xsd:hexBinary"/>
      <xsd:element dfdl:length="{xs:unsignedShort(/PublishKvp/payload/length )}" dfdl:lengthKind="delimited" dfdl:lengthUnits="bytes" dfdl:terminator="" name="data" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PublishKvp">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="">
                                                <xsd:element dfdl:lengthKind="delimited" name="payload" type="Payload"/>
                                  </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" ref="fmt:GeneralPurposeFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	

</xsd:schema>